<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <!-- MAUI Preview 12 -->
        <add key="microsoft" value="https://aka.ms/dotnet6/nuget/index.json" />
        <!-- Rebuilt Xamarin.Forms for new net6.0-ios -->
        <add key="github" value="https://nuget.pkg.github.com/filipnavara/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="TimLariviere" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>